# You can find documentation for all the supported env variables at https://docs.immich.app/install/environment-variables

# The location where your uploaded files are stored
UPLOAD_LOCATION=./library

# The location where your database files are stored. Network shares are not supported for the database
DB_DATA_LOCATION=./postgres

# To set a timezone, uncomment the next line and change Etc/UTC to a TZ identifier from this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
# TZ=Etc/UTC

# The Immich version to use. You can pin this to a specific version like "v2.1.0"
IMMICH_VERSION=v2

# Connection secret for postgres. You should change it to a random password
# Please use only the characters `A-Za-z0-9`, without special characters or spaces
DB_PASSWORD=postgres

# The values below this line do not need to be changed
###################################################################################
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# Remote app mode for running Immich on another server while using the NAS DB,
# Redis, and mounted library storage.
# Use scripts/immich-remote-app.sh up from the repository root.
IMMICH_REMOTE_SERVER_IMAGE=ghcr.io/dunde-o/immich-server:v2.7.5-custom.2
IMMICH_REMOTE_ML_IMAGE=ghcr.io/dunde-o/immich-machine-learning:v2.7.5-custom.2
IMMICH_REMOTE_HTTP_PORT=2283

# Mount the NAS Immich library into UPLOAD_LOCATION before starting containers.
# UPLOAD_LOCATION must point to the local mount point on this server.
IMMICH_REMOTE_LIBRARY_MOUNT_MODE=nfs
IMMICH_REMOTE_LIBRARY_MOUNT_REMOTE=<nas-host>:<nas-library-path>
IMMICH_REMOTE_LIBRARY_MOUNT_OPTIONS=vers=4.1

# NAS Postgres and Redis connection values.
# Do not run local database/redis services for remote app mode.
DB_HOSTNAME=<nas-db-host>
DB_PORT=5432
REDIS_HOSTNAME=<nas-redis-host>
REDIS_PORT=6379
REDIS_DBINDEX=0

# Keep machine-learning work on this server.
IMMICH_MACHINE_LEARNING_URL=http://immich-machine-learning:3003
